/* Основные стили */
body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(to bottom, #1b183a, #0f0d1f);
  color: white;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.logo img {
  max-width: 250px;
  height: auto;
}

/* Основной контент */
.container {
  padding: 20px;
  padding-bottom: 80px;
}

.map-section {
  margin-bottom: 30px;
}

.map-section h2 {
  color: #ffa500;
}

.map-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.map-card {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  height: 150px;
}

.map-card a {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
}

.map-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.map-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Нижняя шапка */
.bottom-header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0f0d1f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
}

.bottom-header .icon img {
  width: 30px;
  height: 30px;
}

.nade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
  padding: 0 10px; /* Добавьте отступы слева и справа */
}

.nade-card a {
  display: block;
  text-decoration: none;
}

.nade-card img {
  width: 180px;
  height: 150px; /* Фиксированная высота изображения */
  object-fit: cover;
  border-radius: 10px 10px 10px 10px; /* Скругление только сверху */
}

.nade-card h3 {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: white;
  text-align: center;
  border-radius: 0 0 10px 10px; /* Скругление только снизу */
}